<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
<sitecore>
<pipelines>
<initialize>
<processor type="Piccolo.Foundation.DependencyInjection.Pipelines.InitializeContainer.InitializeContainer, Piccolo.Foundation.DependencyInjection"
patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" />
</initialize>
<initializeContainer>
</initializeContainer>
</pipelines>
</sitecore>
</configuration>