@using Sitecore
@using Sitecore.Mvc
<div class="top">
    <div class="container">
          @Html.Sitecore().Controller("Identity", "SiteIdentity")
      
</div>
<div class="top-bar">
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-default">
               @Html.Sitecore().Controller("Identity", "Logo")
                <!-- Collect the nav links, forms, and other content for toggling -->
                @Html.Sitecore().Controller("Navigation", "TopMenu")
            </nav>
        </div>
    </div>
</div>
