<div class="container">

    <div class="col-md-6 top-middle">
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="col-md-6 top-left">
        <ul>
            <li><i class="fa fa-mobile" aria-hidden="true"></i> +021 365 777</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 132 New Lenox, 868 1st Avenue </li>
        </ul>
    </div>
    <div class="clearfix"></div>

</div>